<!DOCTYPE html>

<html lang="en">


<head>
    <title>Page Title</title>
    <meta charset="UTF-8">
    <link href="~/css/index.css" rel="stylesheet" />
    <link href="images" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="js/javascript.js" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    @*
    <link href="css/responsive.css" rel="stylesheet" />*@

</head>


<body>

    <div class="full">
        <header class="header">
            <ul class="header-menu">
                <li><a class="header-logo">GoodFood</a></li>

                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Recipes", "Recipes", "Home")</li>
                <li>@Html.ActionLink("Add Recipe", "AddRecipe","Home")</li>
                <li>@Html.ActionLink("Join Us","Register","Home")</li>
                <li>@Html.ActionLink("About","About","Home")</li>

            </ul>


        </header>
        <div class="main-section">
            <div class="about-container">
                <h1>About Us</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi leo ligula, ullamcorper venenatis finibus ac, dignissim at mauris. 
                Morbi porta sem vitae sollicitudin pellentesque. Vestibulum quis finibus quam. Fusce augue libero, mattis non iaculis in, imperdiet eget 
                felis. Maecenas auctor hendrerit lectus porttitor fermentum. Quisque nec nulla sit amet libero posuere aliquam eu non ex. Nulla lacinia 
                enim et ipsum faucibus porta in non ligula. Vestibulum in ante mauris. Aenean massa ipsum, tincidunt dignissim fermentum vitae, accumsan 
                eget lacus. Aenean congue lacus a orci laoreet pellentesque non id diam. Sed venenatis ipsum a eros ullamcorper, vitae suscipit eros scelerisque.</p>




                <p>Suspendisse potenti. Praesent sit amet justo in felis semper porta. Nulla eget lectus vel eros commodo vestibulum a a est. Aenean dictum,
                    est et consequat tempor, ipsum enim consequat dui, eu volutpat orci lorem et neque. Aenean tincidunt pulvinar massa ut interdum. Mauris
                    porta magna ac venenatis sollicitudin. Donec aliquam id tortor ac sollicitudin. Morbi ultrices eros vitae pellentesque posuere. Phasellus
                    imperdiet est at augue malesuada, in aliquet leo tristique. Aliquam vel nunc dolor. Nam pretium faucibus ipsum eget vehicula. Suspendisse 
                    dictum ipsum et vulputate suscipit.</p>

                <p>
                    Vestibulum commodo, lectus ac congue iaculis, augue nibh semper purus, vel sollicitudin erat magna at nisl. Donec vitae mi at nibh 
                    mollis aliquam non et odio. Integer dignissim justo nunc, nec condimentum risus pretium sed. Vivamus in pretium urna, vitae posuere nunc. 
                    Phasellus id scelerisque dui. Nam facilisis ornare vehicula. Nam sit amet sapien urna. Integer placerat lobortis libero ut vulputate. Mauris
                    malesuada tincidunt libero at iaculis. Aliquam ut gravida eros. Fusce in est vitae metus venenatis interdum. Nam convallis sem id tincidunt 
                    posuere. Ut malesuada luctus arcu, nec gravida libero. Vivamus congue eu nunc eu ultrices. Donec luctus ligula tristique mollis pulvinar.
                </p>

               <p>
                    Mauris in elit nec neque convallis hendrerit non et urna. Maecenas enim urna, rhoncus ac ullamcorper vel, ornare in purus. Duis a lorem nec 
                    tortor fermentum cursus id eget risus. Vestibulum bibendum lectus leo, interdum molestie neque varius at. Ut maximus luctus nulla, eu auctor 
                    nisi sodales id. Aliquam imperdiet sapien sit amet commodo blandit. Nam risus dolor, viverra vel mauris non, tempus consequat velit. Aliquam 
                    ac sodales ante, quis eleifend augue. Nulla in leo libero. Nunc et semper turpis. Quisque elementum eu turpis accumsan ultrices.
             </p>
             <p>
                    Quisque sit amet massa commodo velit mollis blandit nec sit amet tellus. Proin fermentum urna vitae lacus scelerisque, non porttitor
                    orci tristique. Praesent sed pretium augue, id malesuada leo. Nam in metus odio. Vestibulum ante ipsum primis in faucibus orci luctus et 
                    ultrices posuere cubilia curae; Donec consectetur, leo tempor feugiat semper, eros nisl tempus erat, sit amet tempus ipsum quam in orci. 
                    Proin finibus diam in orci eleifend sollicitudin.

             </p>
                <p>
                    Fusce dictum ante ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent tempus 
                    elit risus, nec volutpat dui consectetur malesuada. Sed finibus, neque vel consequat semper, elit velit eleifend dolor, non pulvinar dolor 
                    metus vel tellus. Nunc dictum, mi at viverra mollis, arcu lacus posuere urna, in tempor eros ex sed nisl. Sed facilisis nisl vitae arcu vestibulum,
                    sed fermentum sapien viverra. In hac habitasse platea dictumst. Nulla interdum magna ut diam posuere mattis. Phasellus accumsan justo non rutrum mattis.
                    Nunc tristique et dui at suscipit. Vestibulum faucibus elementum hendrerit. Nunc nisl mi, commodo et sodales mollis, ultricies at ex.


                </p>

                                </div>
        </div>





    </div>



    <footer class="w3-container w3-padding-64 w3-light-grey w3-center w3-opacity w3-xlarge" style="margin-top:128px; width:100%; margin:0%;padding:0%;clear:both;position:absolute;left:0%">
        <i class="fa fa-facebook-official w3-hover-opacity "></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-snapchat w3-hover-opacity"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
        <i class="fa fa-linkedin w3-hover-opacity"></i>
        <p class="w3-medium">Powered by XD | &copy; 2023</p>
    </footer>





</body>

</html>





