@model GoodFoodProjectMVC.Models.Recipes
@{
    ViewData["Title"] = "Add Recipe";
}
<!DOCTYPE html>

<html lang="en">


<head>
    <title>Page Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/css/index.css" rel="stylesheet" />
    <link href="~/images/" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="~/js/javascript.js" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    @*
    <link href="css/responsive.css" rel="stylesheet" />*@

</head>


<body>

    <header class="header">
        <ul class="header-menu">
            <li><a class="header-logo">GoodFood</a></li>

            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Recipes", "Recipes", "Home")</li>
            <li>@Html.ActionLink("Add Recipe", "AddRecipe","Home")</li>
            <li>@Html.ActionLink("Join Us","Register","Home")</li>
            <li>@Html.ActionLink("About","About","Home")</li>
        </ul>


    </header>

        <div class="main-section">

            <div class="container">


                <div class="row justify-content-center">
                    <div class="col-md-10">

                        <div class="row align-items-center">
                            <div class="col-lg-7 mb-5 mb-lg-0">

                           <form asp-action="AddRecipe" asp-controller="Home" method="post" class="recipe-form">
                                <h2>Add a New Recipe</h2>
                                <label for="title">Title:</label>
                                
                                <input asp-for="Name" class="form-control" required />
                                
                                <label asp-for="Description">Description (up to 300 characters): </label>

                                <textarea asp-for="Description" class="form-control" maxlength="300" required></textarea>
                              

                                <button type="submit">Submit</button>
                            </form>

                        </div>
                            <div class="col-lg-4 ml-auto">
                                <h3 class="mb-4">Let's create something, together!.</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil deleniti itaque similique magni. Magni, laboriosam perferendis maxime!</p>
                                <p><a href="#">Read more</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <footer class="w3-container w3-padding-64 w3-light-grey w3-center w3-opacity w3-xlarge" style="margin-top:128px; width:100%; margin:0%;padding:0%;clear:both;position:absolute;left:0%">
        <i class="fa fa-facebook-official w3-hover-opacity "></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-snapchat w3-hover-opacity"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
        <i class="fa fa-linkedin w3-hover-opacity"></i>
        <p class="w3-medium">Powered by XD | &copy; 2023</p>
    </footer>


   


    </body>
    </html>

               