@{
    var username = ViewBag.Username as string;
    if (string.IsNullOrEmpty(username))
    {
        username = "Guest";
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - GoodFood</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="~/css/RegisterStyle.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="navbar-container">
                <a class="navbar-title" href="#">GOODFOODMVC</a>
                <ul class="navbar-menu">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Recipes", "Recipes", "Home")</li>
                    <li>@Html.ActionLink("Add Recipe", "AddRecipe", "Home")</li>
                    <li>@Html.ActionLink("Join Us", "Register", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>
                        @if (username == "Guest")
                        {
                            @Html.ActionLink("Guest", "Login", "Home")
                        }
                        else
                        {
                            @Html.ActionLink(username, "Profile", "Home")
                        }
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="main-content">
        <div class="content-wrapper">
            <div class="form-section">
                <div class="form-container">
                    <h2 class="form-title">Login</h2>
                    <form asp-action="LoginUser" method="post">
                        <div class="form-group">
                            <label for="username">Username:</label>
                            <input type="text" id="username" name="username" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" id="password" name="password" class="form-control" required>
                        </div>
                        <button type="submit" class="btn-submit">Login</button>
                    </form>
                    <div class="login-prompt">
                        <p>Don't have an account? <a href="/Home/Register">Register</a></p>
                    </div>
                </div>
            </div>
            <div class="info-section">
                <h2 class="info-title">Welcome Back to GoodFood</h2>
                <p class="info-subtitle">Log in to access your favorite recipes and explore new culinary delights. We are glad to have you back!</p>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-container">
            <div class="footer-icons">
                <a href="#"><i class="fa fa-facebook-official"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-snapchat"></i></a>
                <a href="#"><i class="fa fa-pinterest"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
            <p>Powered by XD | &copy; 2024</p>
        </div>
    </footer>
</body>
</html>
