@model List<GoodFoodProjectMVC.Models.Recipes>

<!DOCTYPE html>
<html lang="en">

<head>
    <title>GoodFood Recipes</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/css/index.css" rel="stylesheet" />
    <link href="~/images" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="~/js/javascript.js" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- CSS styles -->
    <style>
        /* Add your custom styles here */
        .recipe-header {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .recipe-description {
            font-size: 16px;
            margin-bottom: 20px;
        }

        .recipe-image {
            width: 100%;
            max-width: 300px; /* Adjust image size as needed */
            height: auto;
        }
    </style>
</head>

<body>
    <header class="header">
        <ul class="header-menu">
            <li><a class="header-logo">GoodFood</a></li>
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Recipes", "Recipes", "Home")</li>
            <li>@Html.ActionLink("Add Recipe", "AddRecipe","Home")</li>
            <li>@Html.ActionLink("Join Us","Register","Home")</li>
            <li>@Html.ActionLink("About","About","Home")</li>
        </ul>
    </header>

    <div class="main-section">
        <div class="main-section">
            <div class="recipe-list">
                <h1>Recipes</h1>
                <ul>
                    @foreach (var recipe in Model)
                    {
                        <li>
                            <h2>@recipe.Name</h2>
                            <p>@recipe.Description</p>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <footer class="w3-container w3-padding-64 w3-light-grey w3-center w3-opacity w3-xlarge" style="margin-top:128px; width:100%; margin:0%;padding:0%;clear:both;position:absolute;left:0%">
        <i class="fa fa-facebook-official w3-hover-opacity "></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-snapchat w3-hover-opacity"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
        <i class="fa fa-linkedin w3-hover-opacity"></i>
        <p class="w3-medium">Powered by XD | &copy; 2023</p>
    </footer>
</body>

</html>
