@model IEnumerable<GoodFoodProjectMVC.Models.FormData>
@{
    var username = ViewBag.Username as string;
    if (string.IsNullOrEmpty(username))
    {
        username = "Guest";
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
    <link rel="stylesheet" href="~/css/Recipes.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
            <a href="#" class="navbar-title">My Recipes</a>
            <ul class="navbar-menu">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Recipes", "Recipes", "Home")</li>
                <li>@Html.ActionLink("Add Recipe", "AddRecipe", "Home")</li>
                <li>@Html.ActionLink("Join Us", "Register", "Home")</li>
                <li>
                    @if (username == "Guest")
                    {
                        @Html.ActionLink("Guest", "Login", "Home")
                    }
                    else
                    {
                        @Html.ActionLink(username, "Profile", "Home")
                    }
                </li>
            </ul>
        </div>
    </nav>

    <div class="main-content">
        <div class="content-wrapper">
            @foreach (var recipe in Model)
            {
                <a href="@Url.Action("Recipe", "Home", new { id = recipe.Id })" class="recipe-card">
                    <div class="recipe-image-container">
                        @if (!string.IsNullOrEmpty(recipe.ImageBase64))
                        {
                            <img class="recipe-image" src="data:image/png;base64,@recipe.ImageBase64" alt="Recipe Image">
                        }
                    </div>
                    <div class="recipe-info">
                        <div class="recipe-title">
                            @recipe.Title
                        </div>
                        <div class="recipe-description">
                            <pre>@recipe.Description</pre>
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>

    <footer class="footer">
        <div class="footer-container">
            <div class="footer-icons">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
            </div>
            <p>&copy; 2023 My Recipes. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>